.debug{
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px solid black;
}

.box-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  height: 100%;
}

section{
  padding: 50px 0;
}


.flex-row{
  flex-direction: row;
  justify-content: end;
}

li{
  margin-right: 20px;
}

a, h1{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #3BBB9C;
}

hr{
  display: inline-block;
  color: white;
  width: 15%;
  height: 10px;
}



/* 
  HEADER 
*/


nav{
  height: 80px;
}


.logo{
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.logo:hover{
  color: #3BBB9C;
}

h2{
  font-size: calc(1.375rem + 1.5vw);
  text-transform: uppercase;
}




/* 
  MAIN 
*/

.hero-section{
  height: 500px;
}

.star-container{
  line-height: 50px;
}

.hero-section img{
  width: 200px;
  margin-bottom: 20px;
}

i, p{
  color: white;
  font-size: 20px;
}




#about,
.hero-section{
  background-color: #3BBB9C;
}

#portfolio,
#contact-me{
  background-color: white;
}


.sc-card{
  /* height: 200px; */
}

.sc-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sc-container{
  width: 60%;
  margin: 0 auto;
}




/* 
  FOOTER 
*/

.top-footer{
  background-color: #3A546D;
}

/* header, */
.bottom-footer{
  height: 80px;
  background-color: #2C3E50;
}