.debug{
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px solid black;
}

.box-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  height: 100%;
}

section{
  padding: 50px 0;
}


.flex-row{
  flex-direction: row;
  justify-content: end;
}

li{
  margin-right: 20px;
}

a, h1{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #3BBB9C;
}

hr{
  display: inline-block;
  color: white;
  width: 15%;
  height: 10px;
}



/* 
  HEADER 
*/


nav{
  height: 80px;
}


.logo{
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.logo:hover{
  color: #3BBB9C;
}

h2{
  font-size: calc(1.375rem + 1.5vw);
  text-transform: uppercase;
}




/* 
  MAIN 
*/

.hero-section{
  height: 500px;
}

.star-container{
  line-height: 50px;
}

.hero-section img{
  width: 200px;
  margin-bottom: 20px;
}

i, p{
  color: white;
  font-size: 20px;
}




#about,
.hero-section{
  background-color: #3BBB9C;
}

#portfolio,
#contact-me{
  background-color: white;
}


.padding-colonna{
  padding: 12px 12px;
}


.sc-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sc-container{
  width: 60%;
  margin: 0 auto;
}

.about{
  color: white;
}

.button-download-container{
  padding: 20px;
}

.hover-green,
.hover-button-green{
  background-color: #3BBB9C;
}

.hover-green:hover{
  background-color: white;
  color: black;
}

.hover-button-green{
  border-color: #3BBB9C;
}

.hover-button-green:hover {
  background-color: #1E836C;
  border-color: #1E836C;
}

.input-style{
  border-bottom: 1px solid lightgrey;
}

.no-outline{
  padding: 15px 0px;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.no-outline:focus{
  outline: none;
}

input.placeholder{
  color: black;
}

.super-padding{
  padding-bottom: 80px;
}





/* 
  FOOTER 
*/

.top-footer{
  background-color: #3A546D;
}

/* header, */
.bottom-footer{
  height: 80px;
  background-color: #2C3E50;
}